<%# 
<div class="row topspace-lg">
  <div class="col-md-12 text-center">

    <h1>Who will be taking notes?</h1>

    <div class="row justify-content-center">
      <div class="card col col-md-6">
        <div class="card-body">
          <a href="/notetaker" class="btn btn-primary" id="select-winner" data-loading="Selecting a winner...">Select a winner</a>
        </div>
      </div>
    </div>


  </div>
</div>

<script src="/js/helpers.js"></script> %>


<div class="row topspace-lg">
  <div class="col-md-12">

    <h3>Create a new team</h3>
    <hr>
    <form action="/create-team" method="post">
      <div class="form-group">
        <label>Team name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="NASA">
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3 class="mtm">Select your team</h3>
    <hr class="mbm">

    <% @teams.each do |team| %>
      <div class="card" style="margin: 10px 0">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title"><%= team.name %></h5>
              <a class="card-text" href="<%= @baseUrl + '/' + team.url  %>"><%= @baseUrl + '/' + team.url %></a>
            </div>
            <div class="col-4">
              <a href="/delete/<%= team.id %>" class="btn btn-danger pull-right">Delete</a>
            </div>
          </div>        
        </div>
      </div>
    <% end %>

    

  </div>
</div>