
<div class="row topspace-lg">
  <div class="col-md-12 text-center">

    <h1>And the winner is...</h1>

    <div class="row justify-content-center">
      <div class="card col col-md-6">
        <div class="card-body">
          <h3>
            <%= @winner[:full_name] %>!
            <div class="text-center">
              <img id="winnerImage" height=240px src="<%= @winner.image.url %>">
            </div>
          </h3>
          <a href="/<%= @teamName %>/notetaker" class="btn btn-primary" id="select-winner" data-loading="Shuffling...">Shuffle</a>
        </div>

      </div>
    </div>


  </div>
</div>

<script>
  var appContainer = document.getElementById('app-container');
  var preloader = document.getElementById('preloader')

  appContainer.style.display = "none"

  $(document).ready(function(e) {
    preloader.innerHTML = '<h1 id="loadtitle" class="text-center topspace-lg">Cooking up a winner...</h1><div id="cooking"><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div id="area"><div id="sides"><div id="pan"></div><div id="handle"></div></div><div id="pancake"><div id="pastry"></div></div></div></div>'

    setTimeout(function(){
         preloader.style.display = "none"
         appContainer.style.display = "initial"
    }, 3000); // time in ms

  });

</script>
