<div class="row topspace-lg">
  <div class="col-md-12 text-center">

    <h1>Who will be taking notes?</h1>

    <div class="row justify-content-center">
      <div class="card col col-md-6">
        <div class="card-body">
          <a href="/<%= @teamName %>/notetaker" class="btn btn-primary" id="select-winner" data-loading="Selecting a winner...">Select a winner</a>
        </div>
      </div>
    </div>


  </div>
</div>

<script src="/js/helpers.js"></script>